<!DOCTYPE html>
<html lang="en">

<head>
  <title>
    {{ title }}
  </title>
  <meta name="viewport" content="width=device-width">
  <meta name="description"
    content="Jean Valentin's articles about JavaScript, Node.js, Next.js, and other IT-related topics" />
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="manifest" href="/site.webmanifest" />
  <link rel="stylesheet" href="/styles/globals.css" />
  <link rel="stylesheet" href="/styles/github.min.css" />
</head>
<header>
  <a href='/'>jeanvalentin.github.io</a>
</header>
<main>
  {{ content }}
</main>
<footer></footer>

</html>
